%h1= @movie.title
.jumbotron
  = @movie.description
  %div
    = @movie.plot
  %div
    = @movie.rating
  .movie_image
    %img.img-rounded{ src: @movie.cover }

- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
